# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data
bin/
data/
raw_data/
checkpoints/
torch/*
!torch/*.py
!torch/*.h
!torch/*.cpp

# cpp
NNUE/*
!NNUE/includes
!NNUE/src

.vs/

# python
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class